@import "../utils/colors.scss";

.app {
   min-height: 100%;
   display: flex;
   flex-direction: column;
   overflow: hidden;
   background-color: $bgColor;
   // Прижимаем footer
   &__body {
      flex: 1 1 auto;
      height: 100%;
   }
}
